#root {
  background-color: #fff;
  color: #333;
  font-family: Arial, sans-serif;
  text-align: center;
}

#main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-layout.no-drawer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#main-layout.drawer-open {
  padding-left: 250px;
}

#main-layout > .content {
  flex-grow: 1;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin-left: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  touch-action: pan-y; /* Disables gestures like pinch zooming */
  overflow: auto;
}

@media (max-width: 600px) {
  #main-layout.drawer-open {
    padding-left: 0;
  }
  #main-layout > .content {
    flex-grow: 1;
    padding: 0;
    width: 100%;
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color */
  }
}

/* * {
  border: 1px solid red;
} */

svg {
  color: #555;
}
